<form #studentForm="ngForm" (ngSubmit)="saveStudentData(studentForm.value)">
   <label for="name">First Name</label>
    <input type="text" id="name" name="name" placeholder="Enter Name Here" ngModel>
      <br>
    <label for="Email">Email</label>
     <input type="email" id="email" name="email" placeholder="Enter Email Here" ngModel>
      <br>
     <label for="gender">Gender</label>
     <input type="radio" id="male" name="gender" value="Male" ngModel >Male 
     <input type="radio" id="female" name="gender" value="Female" ngModel>Female
     <br>
    <label for="status">Status</label>
    <select name="status" id="status" ngModel>
    <option value="active" >Active</option>
     <option value="in-active" >In-Active</option>
    </select>
     <br>
    <button>Enroll Students</button>
    
</form>  

<table *ngFor = "let student of students">
  <tr>
     <th>Students Data</th>
     <th><i (click)="deleteStudentData(student)" class="fa fa-trash" style="font-size:16px;color:red;"></i></th>
  </tr>
  <tr>
   <td>{{student.name}}</td>
  </tr>
  <tr>
     <td>{{student.email}}</td>
  </tr>
  <tr>
    <td>{{student.gender}}</td>
  </tr>
  <tr>
    <td>{{student.status}}</td>
  </tr>
  
</table>

